<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/mahasiswas/add">
      <input type="text" name="nim" placeholder="Tambah NIM" />
      <input type="text" name="nama" placeholder="Tambah Nama" />
      <input type="text" name="dospem" placeholder="Tambah Dospem" />
      <input type="text" name="notelp" placeholder="Tambah No Telpon" />
      <input type="text" name="email" placeholder="Tambah Email" />
      <input type="submit" name="submit" value="Tambah" />
    </form>
    <h3>List mahasiswa</h3>
    <ul>
      <% mahasiswas.forEach(function(mahasiswa){ %>
      <li>
        <p><span>Nama: </span><b><%= mahasiswa.value.nama %></b></p>
        <p><span>NIM: </span><%= mahasiswa.value.nim %></p>
        <p><span>Dospem: </span><%= mahasiswa.value.dospem %></p>
        <p><span>No Telpon: </span><%= mahasiswa.value.notelp %></p>
        <p><span>Email: </span><%= mahasiswa.value.email %></p>
        <form method="post" action="/mahasiswas/delete/<%= mahasiswa.key%>">
          <input type="hidden" value="<%= mahasiswa.value.rev %>" name="rev" />
          <input type="submit" name="submit" value="X" />
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
